<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.forev.mycodelibrary"
    android:targetSandboxVersion="1"
    android:revisionCode="1000000201"
    android:versionName="1.0.1"
    >
    
    <permission android:name="com.example.forev.mycodelibrary.YAYALI"
        android:icon="@drawable/demo1"
        android:description="@string/permission_des"
        android:label="label"
        android:protectionLevel="dangerous"
        />

    <permission-group android:name="group"
        android:permissionGroupFlags="personalInfo"/>

    <uses-permission android:name="com.example.forev.mycodelibrary.YAYALI"/>
    <!--访问内容提供程序数据所需要的权限，会自动允许-->
    <uses-permission android:name="android.permission.READ_USER_DICTIONARY"/>
    <uses-permission android:name="android.permission.WRITE_USER_DICTIONARY"/>


    <supports-screens
        android:requiresSmallestWidthDp="160"
        android:anyDensity="false"
        />

    <compatible-screens>
        <!--小屏幕各种分辨率-->
        <screen
            android:screenDensity="ldpi"
            android:screenSize="small"/>
        <screen
            android:screenDensity="mdpi"
            android:screenSize="small"/>
        <screen
            android:screenDensity="hdpi"
            android:screenSize="small"/>
        <screen
            android:screenDensity="xhdpi"
            android:screenSize="small"/>
        <screen
            android:screenDensity="xxhdpi"
            android:screenSize="small"/>
        <screen
            android:screenDensity="xxxhdpi"
            android:screenSize="small"/>

        <!--普通大小各种分辨率-->
        <screen
            android:screenDensity="ldpi"
            android:screenSize="normal"/>
        <screen
            android:screenDensity="mdpi"
            android:screenSize="normal"/>
        <screen
            android:screenDensity="hdpi"
            android:screenSize="normal"/>
        <screen
            android:screenDensity="xhdpi"
            android:screenSize="normal"/>
        <screen
            android:screenDensity="xxhdpi"
            android:screenSize="normal"/>
        <screen
            android:screenDensity="xxxhdpi"
            android:screenSize="normal"/>

    </compatible-screens>

    <supports-gl-texture android:name="GL_EXT_texture_compression_latc"/>
    <instrumentation
        android:name="android.test.InstrumentationTestRunner"
        android:targetPackage="com.example.forev.mycodelibrary"
        android:label="test"
        android:handleProfiling="true"
        android:functionalTest="true"
        android:targetProcesses="*"/>

    <application
        android:allowBackup="false"
        android:icon="@drawable/demo1"
        android:logo="@drawable/demo1"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:allowTaskReparenting="true"
        android:allowClearUserData="false"
        android:banner="@drawable/demo1"
        android:manageSpaceActivity=".HookTestAct"
        android:resizeableActivity="false"
        android:process=".myDemo"
        tools:ignore="GoogleAppIndexingWarning">
        <uses-library android:name="android.test.runner" />
        <activity android:name=".AnimitionScaleAct" />
        <activity android:name=".MainActivity"
            android:taskAffinity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ViewListActivity" />
        <!--当 activity 是 栈的根节点的时候，如果设置 android:excludeFromRecents="true" 代表不放在概览屏幕中
        这个潜在意思是，当 你退掉或者点击显示概览屏幕的时候，当前的activity会被删除-->
        <activity android:name=".AppCompatActivitySub"
            android:taskAffinity=".AppCompatActivitySub"
            android:launchMode="singleInstance"
            android:label="@string/lambda">

        </activity>

        <activity android:name=".DrawableDemoAct"></activity>
        <activity android:name=".ReflexDemoAct"></activity>
        <activity android:name=".HookTestAct"></activity>
        <activity android:name=".ProviderTestAct"></activity>
        <activity android:name=".ServiceTestAct"></activity>
        <activity android:name=".AlgorithmTestAct"></activity>
        <activity android:name=".SortAlgorithmAct"></activity>
        <activity android:name=".SkillActivity"></activity>
        <activity android:name=".ThreadActivity"></activity>
        <activity android:name=".MemoryActivity"></activity>
        <activity android:name=".UserDocumentProviderTestAct"></activity>
        <activity android:name=".SystemImageProviderDemo"></activity>
        <activity android:name=".MyScrollViewActivity"></activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <service android:name=".service.ServiceTest"/>
    </application>

</manifest>